.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
**/*.vsix
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.markdown
node_modules/**/CHANGELOG*
node_modules/**/HISTORY*
node_modules/**/LICENSE*
node_modules/**/.bin/**
